html,
body {
  cursor: url("/resources/mastersword.png"), default;
  /* just change the cursor.ico path to your location */
}

.rupee-btn {
  background-color: transparent;
  border: none;
}

/* .grayscale {
  backdrop-filter: grayscale(100);
} */

.rupee-btn {
  height: 20vh;
  width: 6vw
}

.autoIcon {
  height: 5vh;
  width: 3vw;
}

.buy-btn {
  background-color: rgb(0, 94, 120);
}

.titleCard {
  width: 14vw;
  height: 20vh;
}